[submodule "MeowPay-Discord"]
	path = MeowPay-Discord
	url = https://github.com/Anthonykung/MeowPay-Discord.git
[submodule "MeowPay-Expo"]
	path = MeowPay-Expo
	url = https://github.com/Anthonykung/MeowPay-Expo.git
[submodule "MeowPay-Server"]
	path = MeowPay-Server
	url = https://github.com/Anthonykung/MeowPay-Server.git
